name: my workflow
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set env
      run: if [ $? -ne 0 ]; then echo "TF_PLAN_STATE=FAIL" >> $GITHUB_ENV; else  echo "TF_PLAN_STATE=PASS" >> $GITHUB_ENV; fi && echo $GITHUB_ENV | tee RESULT 
    - name: file creation
      uses: actions/upload-artifact@v2
      with:
        name: file
        path: |
          RESULT
      
