name: my workflow
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set env
      run: if [ $? -ne 0 ]; then touch RESULT && exit 1; fi
    - name: file creation
      uses: actions/upload-artifact@v2
      with:
        name: file
        path: |
          RESULT
      
