name: my workflow
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set env
      run: if [ $? -ne 0 ]; then echo "TF_PLAN_STATE=FAIL" >> $GITHUB_ENV; fi && echo $GITHUB_ENV | tee RESULT && exit 0
    - name: get env
      run: |
        if [ $TF_PLAN_STATE == "FAIL" ]; then
         echo "Failed"
        else
         echo "Pass"
        fi
    - name: file creation
      uses: actions/upload-artifact@v2
      with:
        name: file
        path: |
          RESULT
      
